<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado liebre</title>
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"> 
</head>
<body>
    <header>
        <h1><img src="/images/logo-mercado-liebre.svg" width="300"></h1>
        <p id="barraBusqueda">Lugar para poner la barra de búsqueda</p>
        <i class="fas fa-search"></i>
        <p>

        </p>
        <i class="fas fa-hand-holding-usd"></i><i>Comprá en cuotas y sin tarjeta de crédito</i>
    
        <nav>
            <ul>
                <li type="none"><a id="titulares"href="">Ofertas</a></li>
                <li type="none"><a id="titulares"href="">Tiendas oficiales</a></li>
                <li type="none"><a id="titulares"href="">Vender</a></li>
                <li type="none"><a id="titulares"href="">Ayuda</a></li>
            </ul>
            <p>

            </p>
            <ul >
                <i type="none"><a id="titulares"href="">Creá tu cuenta</a></i>
                <i class="far fa-address-card"></i>
               <br>
                <i type="none"><a id="titulares"href="">Ingresá</a></i>
                <i class="fas fa-sign-in-alt"></i>
               <br>
                <i type="none"><a id="titulares"href="">Mis compras</a></i>
                <i class="fas fa-shopping-basket"></i>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                    </div>
               
            </ul>
        </nav>
       
    </header>
    
    <main>
        <section>
            <h2 id="titulares" >Basado en tu última visita</h2>

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imágen de la cafetera" width="300">
                <p id="precio">$6.770</p>
                <p id="descuento">40% OFF</p>
                <p id="descripcion">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imágen de Macbook" width="300">
                <p id="precio">$230.000<p>
                <p id="descuento">20% OFF</p>
                <p id="descripcion">Macbook Pro 2019</p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imágen de Samsung Galaxy" width="300">
                <p id="precio">$70.500</p>
                <p id="descuento">10% OFF</p>
                <p id="descripcion">Samsung Galaxy S10</p>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imágen de SmartTV" width="300">
                <p id="precio">$23.200</p>
                <p id="descuento">5% OFF</p>
                <p id="descripcion"> SmartTV Samsung 43"</p>
            </article>

        <section>
            <h2 id="titulares" >Sección de Ofertas</h2>

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="imágen de la cafetera" width="300">
                <p id="precio">$6.770</p>
                <p id="descuento">40% OFF</p>
                <p id="descripcion">Cafetera Moulinex</p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="imágen de Macbook" width="300">
                <p id="precio">$230.000</p>
                <p id="descuento">20% OFF</p>
                <p id="descripcion">Macbook Pro 2019</p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="imágen de Samsung Galaxy" width="300">
                <p id="precio">$70.500</p>
                <p id="descuento">10% OFF</p>
                <p id="descripcion">Samsung Galaxy S10</p>
            </article>
            
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="imágen de SmartTV" width="300">
                <p id="precio">$23.200</p>
                <p id="descuento">5% OFF</p>
                <p id="descripcion">SmartTV Samsung 43"</p>
            </article>

        </section>

    </main>

    <footer>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercadolibre cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡y siempre es seguro!</p>
            <br>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercadolibre tenes envíos gratis en miles de productos. Es un beneficio de Mercadopuntos.</p>
            <br>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercadolibre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <br>
            <h3 class="copyright">Copyright @ 1999 - 2020 Mercadolibre SRL</h3>

    </footer>
    
</body>
</html>